{% extends 'base.html.twig' %}


{% block body %}

<div>
    <h1>Liste des catégories</h1>

    {% for categorie in liste %}
        <div>
            <a href="/details3/{{categorie.id}}">
                {{ categorie.nom }}
            </a>
        </div>
        
    {% endfor %}
</div>

{% endblock %}
