{% extends 'base.html.twig' %}


{% block body %}

<div>
    <h1> liste des plats de {{ categorie.nom }} </h1>

    {% for plat in categorie.plats %}
        <div>
            {{ plat.nom }}
        </div>
    {% endfor %}
</div>

{% endblock %}
